*,p{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

h1,ul,li{
    transition: 1s all ease;
}

a{
    transition: 1s all ease;
    text-decoration: none;
    color: #FFFFFF;
}
button{
    transition: 1s all ease;
    text-decoration: none;
}

button:hover{
    color: #253A4E;
}
a:hover{
    text-decoration: none;
    color: #FF9900;
}


.row{
    margin: 0px;
}

.container-fluid{
    padding: 0px;
}

header nav{
    background: #253A4E;
}


header a{
    color: #F0F8FFFF;
}
.navbar-brand{
    font-weight: bold;
}

.tel-1{
    background: #FF9900;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.tel-1 svg{
    margin-right: 5px;
}
.tel-2 svg{
    margin-right: 5px;
}
.tel-3 svg{
    margin-right: 5px;
}
.tel-2{
    background: #FF9900;
    border-radius: 10px;
    padding: 10px 20px;
    display: none;
}
.tel-3{
    background: #FF9900;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: none;
}

button:focus{
    outline: none;
}

header ul{
    margin: auto;
}

.navbar-toggler svg{
    width: 40px;
    height: 40px;
    fill: #F6F5F5;
}
header nav{
    border-bottom: 1px solid #3E4D5B;
}


.header-banner{
    background: #253A4E;
}

.shaped {
    background: linear-gradient( rgba(37, 58, 78, 0.4), rgba(0, 0, 0, 0.5) ), url(http://stroykadoma.org/wp-content/uploads/2016/01/%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D1%8C%D0%B5%D1%80-%D0%BC%D0%B0%D0%BB%D0%B5%D0%BD%D1%8C%D0%BA%D0%BE%D0%B9-%D0%BA%D0%B2%D0%B0%D1%80%D1%82%D0%B8%D1%80%D1%8B-2016.jpg) center top no-repeat;
    background-size:cover;
    float:right;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    shape-margin:20px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%)
}


.desc-hb h1{
    font-weight: bold !important;
    padding: 50px 80px 50px 50px;
}
.desc-hb ul{
    font-weight: normal;
    font-size: 20px;
    padding: 0px 0px 50px 50px;
}

.desc-hb ul li{
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 140%;
}

.desc-hb ul li svg{
    margin-right: 40px;

}
.shaped{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.form-feedback{
    background: #253A4E;
    width: 40%;
    text-align: center;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    border-radius: 10px;
    padding: 20px;
    margin-left: 300px;
}

.form-feedback form p{
    text-align: left;

}

.form-feedback form button{
    background: #FF9900;
    width: 60%;
    margin: 20px 0px;
}

.form-feedback form textarea,input{
    width: 100%;
    color: black;
    font-size: 12px;
    border-radius: 5px;
    padding: 10px 10px;

}

.form-feedback form p{
    font-size: 12px;
    margin: 0px;
}
.d-form-none{
    display: none;
}


.content{
}
.content h3{
    color: #FF9900;
    text-align: center;
    padding: 50px 0px;
    font-weight: bolder;
    font-size: 36px;
}

.services{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.services div{
    border-radius: 5px;
    background: #ffffff;
    width: 49%;
    padding: 20px;
}

.services h4{
    color: #253A4E;
}
.services p{
    color: #939393;
}
.tel{
    background: #FF9900;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 230px;
    color: #F6F5F5;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tel svg{
    margin-right: 10px;
}

.form-feedback-2 p{
    margin: 0px;
    font-size: 12px;
}

.form-feedback-2 input{
    padding: 20px 10px;
}

.form-feedback-2 button{
    background: #FF9900;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
}

.tel:hover{
    color: #253A4E;
    text-decoration: none;
}
.lol{
    display: flex;
    justify-content: center;
}

.pr h3{
    color: #F6F5F5;
}
.pr .col-sm-4{
    border-radius:5px ;
    height: 300px;
}

.pr-b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pr-b div{
    margin: 10px 10px;
    width: 30%;
    height: 200px;
    border-radius: 10px;
}

.bg-1{
    background-image: url("/img/Примеры/1.jpeg") ;
    background-size: 100% 100%;
}
.bg-2{
    background-image: url("/img/Примеры/2.jpeg");
    background-size: 100% 100%;
}
.bg-3{
    background-image: url("/img/Примеры/3.jpeg");
    background-size: 100% 100%;
}

.bg-4{
    background-image: url("/img/Примеры/4.jpg");
    background-size: 100% 100%;
}
.bg-5{
    background-image: url("/img/Примеры/5.jfif");
    background-size: 100% 100%;
}
.bg-6{
    background-image: url("/img/Примеры/6.jpg");
    background-size: 100% 100%;
}

.footer{
    padding-top: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid #FFFFFF;
}

.pr-b div{
    transition: 0.5s all ease;
}
.form-feedback-2 button:hover{
    transition: 1s all ease;
    background: #ffffff;
}

.form-feedback form button:hover{
    transition: 1s all ease;
    background: #ffffff;
}
.pr-b div:active{
    width: 100%;
    height: 600px;
}
.services div:hover svg{
    transition: 1s all ease;
    width: 100px;
    height: 100px;
}

footer h5{
    font-weight: bold;
}
footer ul{
    padding: 0px;
}
footer li{
    list-style: none;
    margin-top: 10px;
}

.f-b{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews{
    padding-bottom: 50px;
}

.pr-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pr-button button{
    background: #FF9900;
}
@media (max-width:992px){



    .pr-b div{
        width: 40%;
    }

    .tel-1{
    display: none;
    }
    .shaped{
        display: none;
    }

    .form-feedback{
        width: 80%;
        margin-left: 0px;
    }
    .d-form-none{
        display: block;
    }
    .desc-hb{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tel-2{
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    nav.navbar.navbar-expand-lg{
        display: flex;
        justify-content: space-between;
    }
    .services{
        flex-direction: column;
        margin-top: 0;
    }
    .services div{
        width: 100%;
        margin-top: 20px;
    }
    .f-b{
        padding: 20px;
    }
    .footer{
        border-bottom: 0px solid #FFFFFF ;
        text-align: center;
    }
    .footer .row div{
        padding: 10px;
    }
}

@media (max-width:576px){
    .tel-2{
        display: none;
    }
    .pr-b div{
        width: 100%;
    }
    .tel-3{
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    .desc-hb ul li {
        width: 100%;
    }
    .form-feedback{
        width: 100%;
    }
    .desc-hb ul{
        font-weight: normal;
        font-size: 20px;
        padding: 0px 0px 50px 20px;
    }
}